* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(180deg, #A9E4AE 63.44%, #FFFFFF 98.77%);
    padding: 20px; 
}

.cabecalho {
    display: flex;
    align-items: center;
}

.logo {
    flex: 1; 
    max-width: 100px; 
}

.nav-container {
    display: flex; /* Torna o contêiner pai flexível */
    justify-content: flex-end; /* Alinha os itens ao final do contêiner (canto direito) */
    align-items: center; /* Alinha verticalmente os itens */
}

.navbar {
    padding: 0 20px;
}

.navlist {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
}

.navitens {
    margin: 0 10px;
}

.navitens a {
    text-decoration: none;
    color: rgba(44, 52, 73, 1);
    font-size: 15px;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

.navitens a:hover {
    background-color: rgba(44, 52, 73, 0.1);
    border-color: rgba(44, 52, 73, 0.3);
}


.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2c3449;
    padding: 20px;
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.form-group {
    margin: 10px 0;
    width: 48%;
}

form label {
    color: #fff;
}

form input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 0;
    margin-top: 5px;
}

.form-button {
    background-color: #A9E4AE;
    color: #2c3449;
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
}

.form-button:hover {
    opacity: 0.8;
}

.naoroubaocarro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapinha {
    width: 100%;
}

.mapinha iframe {
    width: 100%;
    height: 400px;
}

.footer-box {
    background-color: #040028;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-box img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.media img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: block;
        margin-top: 10px;
    }

    .navlist {
        justify-content: center;
    }

    .navitens {
        margin: 0 10px;
    }
}
