@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}


header {
    background: linear-gradient(180deg, #A9E4AE 63.44%, #FFFFFF 98.77%);
    height: 600px;
}

.cabecalho {
    width: 100%;
    height: 100px;
    display: flex;

}

.logo {
    width: 10%;
    height: auto;
    margin-top: 1%;
    margin-left: 15%;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.navlist {
    list-style-type: none;
    margin-right: 15%;
}

.navlist li {
    display: inline-block;
}

.navitens a {
    text-decoration: none;
    color: rgba(44, 52, 73, 1);
    font-size: 15px;
    font-weight: 700;
    padding: 20px;
}

.mobile-bar {
    width: 100px;
    visibility: hidden;
}

.barra {
    display: flex;
    justify-content: center;
    background-color: #2c3449;
    width: 90%;
    height: 40%;
    margin: 2rem auto;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 1)
}

.barra {
    display: flex;
    justify-content: center;
}

#searchForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 400px;
    margin-top: 5%;
}

form label {
    width: 100%;
    font-size: 20px;
    color: #fff;
    margin: 1rem 0;
}

form input {
    padding: 15px;
    width: 60%;
    height: 40px;
    border-radius: 10px;
    border: 0;
}

#localRetirada {
    width: 90%;
}

.form-button {
    background-color: #A9E4AD;
    width: 10%;
    height: 50px;
    border-radius: 10px;
    margin-top: 1%;
    box-shadow: 0;
    border: 0;
}

.form-button a {
    text-decoration: none;
    font-size: 16px;
    color: #2c3449;
}

h1 {
    color: #040028;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

.form-contact {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #DEF5E0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form-contact input {
    width: 400px;
    height: 40px;
    margin: 15px 0;
    background-color: #D6E1FF;
}

.form-contact textarea {
    width: 400px;
    margin: 15px 0;
    background-color: #D6E1FF;
}

.form-contact button {
    width: 400px;
    height: 40px;
    background-color: #AAE5AF;
    margin: 5px;
    font-size: large;
    font-weight: 700;
}

aside h2 {
    text-align: center;
    margin-top: 2rem;
}

aside .number {
    padding: 0;
    text-align: center;
    margin: 2rem 0;
    font-size: large;
}

aside span {
    background-color: #D6E1FF;
}

.footer-box {
    display: flex;
    width: 100%;
    height: 120px;
    background-color: #040028;

}

.footer-box img {
    width: 80px;
    height: 60px;
    justify-content: flex-start;
    margin: auto 0 auto 20px;
    border-radius: 10px;
}

.media a {
    display: flex;
}

.media img {
    width: 20px;
    height: 20px;
    margin-left: 10px;

}

@media screen and (max-width: 395px){
    .form-contact,
    .form-contact input,
    .form-contact textarea,
    .form-contact button {
        width: 70%;
    }
}